.ex-1-square:hover{
transition: background-color 3s;
background-color: red;
}
.ex-2-square:active{
    transition: 2s;
    width: 100%;
}
.ex-3-square:hover{
    transition: border-radius 2s;
    border-radius: 50px;
}
.ex-4-square:hover{
    transition: background-color 3s;
    background-color: white;
}
.ex-5-square:hover{
    transform: scale(1.7);
    transition: transform 1s linear;
}
.ex-5-square:active{
    transform: scale(0.3);
    transition: transform 1s linear;
}

.ex-6-img:hover{
    filter: grayscale(1);
    transition:filter 1s ;
}
.ex-7-img:hover{
    filter: opacity(1) invert(1);
    transition:filter 2s;
}
.ex-8-img:hover{
    border-radius: 30px;
    filter: sepia(0.2) invert(1);
    transition:all 4s ;
}
.ex-9-img:hover{
    transform: scale(1.3);
    border-radius: 30px;
    filter: sepia(0.2) invert(1);
    transition:all 4s ;
}
.ex-10-icon{
    animation-name: ruota;
    animation-duration: 1s;
    /* animation-duration: 0.1s; XD */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes ruota {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}
.ex-11-icon:hover{
    animation-name: ruota2;
    animation-duration: 2s;
    /* animation-duration: 0.1s; XD */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes ruota2 {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(calc((3*360deg)/4));
    }
}